.nav-form{
    -fx-background-color: linear-gradient(to bottom right,#1E80CB, #00008B
    );
}
.nav-button{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: #fff;
    -fx-alignment: CENTER_LEFT;

}
.logout-button{
    -fx-cursor-button:hand;
    -fx-background-color:#28bb77;


}
.delete{
    -fx-background-color: red;
}
.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 30;
}
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}
.right-bar{
    -fx-background-color: #D3D3D3;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0.1),10.0,0.0,0.0,10.0)
}
.chosen-medication-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}
.font{
   -fx-background-color: #1E80CB;
}
.bio-card{
    -fx-background-color: #BAEAD4;
    -fx-background-radius: 30;
}
.list-view {
    -fx-background-color: #a6dcef; /* Light blue background */
    -fx-padding: 10; /* Padding around the ListView */
    -fx-font-family: "Arial"; /* Use Arial font */
    -fx-font-size: 14px; /* Font size */
}



.list-cell:hover {
    -fx-background-color: #dd23; /* Light blue hover background */
}

.list-cell:selected {
    -fx-background-color: #a7c3e5; /* Medium blue background when selected */
}

