.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}



.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #ffffff;
}

.button-red {
    -fx-background-color: #ff0000; /* Ceci est la couleur rouge en hexadécimal */
}

.button-green {
    -fx-background-color: #248814; /* Ceci est la couleur rouge en hexadécimal */
}






.left-bar{
    -fx-background-color: #d9e4f3;
}


.center-bar{
    -fx-background-color: #4777c4;
}


.shadow{
    -fx-effect: dropShadow(three-pass-box, rgb(85, 159, 255), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #1E7FCB;
    -fx-background-radius: 30;
}



.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}



.add-btn{
    -fx-background-color: #b8d7e1;
    -fx-background-radius: 100;
}


.add-btnn{
    -fx-background-color: #62adbe;
    -fx-background-radius: 100;
}


.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color:  #1E7FCB;
    -fx-background-radius: 30;
}

.shopping{
    -fx-background-color: #97cffa;
    -fx-background-radius: 30;
}






.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}



.white-background {
    -fx-background-color: #fff;
}

.transparent {
        -fx-background-color: rgba(0, 0, 8, 0);
    }

.selected {
    -fx-background-color: #F3F3F3;
}

.mouse-noved:hover {
    -fx-background-color: #E4E4E4;
}
.bold-text {
    -fx-font-weight: bold;
}
